{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Password Reset Form
{% endblock title %}

{% block content %}
<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-primary mb-2">Forgot Password</p>
                <h2 class="fw-bold">Reset your password</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body text-center d-flex flex-column align-items-center">
                        <form method="POST">
                            <p>
                                {% csrf_token %}
                                {{ form | crispy }}
                            </p>
                            <button type="submit" class="btn btn-primary d-block w-100 my-4">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}