{% extends 'base.html' %}

{% block title %}
    Password Reset Complete
{% endblock title %}

{% block content %}
<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-primary mb-2">Password Reset</p>
                <h2 class="fw-bold">Password reset complete</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-6">
                <div class="card">
                    <div class="card-body text-center d-flex flex-column align-items-center">
                        <p>Your new password has been set. You can now log back in.</p>

                        <a href="{% url 'login' %}">
                            <button class="btn btn-primary my-4">Login Account</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}