{% extends 'base.html' %}

{% block title %}
    Password Reset Sent
{% endblock title %}

{% block content %}
<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-primary mb-2">Password Reset</p>
                <h2 class="fw-bold">Password reset link sent</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-6">
                <div class="card border-0">
                    <div class="card-body text-center d-flex flex-column align-items-center">
                        <p>We've emailed you instructions for setting your password. If an account exists with the email you entered, you should receive it shortly.</p>

                        <p>If you did not receive an email, please make sure you have entered the correct email address you registered with and check your spam folder.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}